.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 10px;
}
.nav a:hover {
    color: #ffc107;
}

@media (max-width: 526px) {
    .nav a{
        font-size: 14px;
        font-weight: 800;
    }
}
@media screen and (max-width: 525px) {
    .nav{
        display: none;
    }
}