.mainBlock {
    height:100vh;
    padding: 40px 0;
    background-color: #3498db;
}


.greeting {
    width: 300px;
    background-color: darkgrey;
}

.inContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.photo {
    max-width: 300px;
}