.skillsBlock {
    background-color: #414141;
    padding: 35px 0 15px 0;
}


.skills {
    min-height: 100px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}