.myWorkContainer {
    /*background: rgba(17, 17, 17, 0.97);*/
    background-color: #4b4b4b;
    color: white;
    padding: 35px 0 5px 0;
}

.previewWorkContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-top: 70px;
}

@media (max-width: 526px) {
    .previewWorkContainer{
        padding-top: 40px;
    }
}