.findWorkWrapper {
    background-color: #4b4b4b;
    color: white;
    padding: 35px 0 20px 0;
}

.findWorkItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.findWorkItem h2 {
    margin-bottom: 30px;
}

.findWorkItem p {
    margin: 12px 0;
    font-size: 18px;
}
