.footerWrapper{
    background-color: #4b4b4b;
    text-align: center;
    padding: 15px 0;
}
.footer_name{
    color: white;
}
.squareWrapper{
    max-width: 500px;
    margin: 7px auto;
    display: flex;
    justify-content: space-around;
}
.footerItem{
    font-weight: 700;
}