.footerWrapper{
    background-color: blanchedalmond;
    text-align: center;
    padding-bottom: 10px;
}
.squareWrapper{
    max-width: 500px;
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-around;
}
.footerItem{
    font-weight: 700;
}