.header {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.95);
    position: sticky;
    top: 0;
    min-height: 2em;
    z-index: 5;
}


.navPosition {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}