.nav {
    border: 1px solid #61dafb;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    color: #61dafb;
}
.nav a:hover {
    color: white;
}