.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.nav a:hover {
    color: #ffc107;
}